{% set path = "/register" %}
{% set title = "Register | Fantasky" %}

{% extends "_layout.njk" %}

{% import "../partials/_forms.njk" as forms %}

{%
  set fields = [
    {
      "name": "firstName",
      "labelText": "First Name"
    },
    {
      "name": "lastName",
      "labelText": "Last Name"
    },
    {
      "name": "dob",
      "labelText": "DOB",
      "inputType": "date"
    },
    {
      "name": "emailAddress",
      "labelText": "Email Address",
      "inputType": "email"
    },
    {
      "name": "password",
      "labelText": "Password",
      "inputType": "password"
    },
    {
      "name": "confirmPassword",
      "labelText": "Confirm Password",
      "inputType": "password"
    }
  ]
%}

{% block content %}
  <div class="row">
    <div class="col"></div>
    <div class="col-8 col-md-6 col-lg-4">
      <h1>New User</h1>

      <form method="POST" novalidate>
        {% for field in fields %}
          {{
            forms.group(
              name=field.name,
              labelText=field.labelText,
              value = values[field.name] or '',
              error = errors[field.name].msg or '',
              inputType = field.inputType or 'text'
            )
          }}
        {% endfor %}

        <div class="btn-group mb-3">
          <button type="submit" class="btn btn-danger">Register</button>
          <a href="/login" class="btn btn-outline-danger">Log In</a>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
{% endblock %}
