{# Nav link macro #}
{% macro navItem(name, href, activateIfCurrent = true) %}

  {# Declare variable for nav-item class list #}
  {% set classlist = "nav-item" %}

  {# Determine whether this link is active #}
  {% set active = activateIfCurrent and path == href %}

  {# If it is, update classlist accordingly #}
  {% if active %}
    {% set classlist = "nav-item active" %}
  {% endif %}

  <div class="{{ classlist | escape }}">
    <a href="{{ href | escape }}" class="nav-link">
      {{ name | escape }}

      {% if active %}
        <span class="sr-only">(active)</span>
      {% endif %}
    </a>
  </div>
{% endmacro %}

<header class="flex-shrink-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a href="/tasks" class="navbar-brand">Fantasky</a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbar-collapse"
      aria-controls="navbar-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <div class="navbar-nav d-flex justify-content-start w-100">
        {{ navItem("Tasks", "/tasks") }}
        {% if userName %}
          <div class="nav-item m-2 ml-lg-auto text-center text-white">
            Welcome {{ userName }}!
          </div>
          {{ navItem("Log Out", "/logout")}}
        {% else %}
          <div class="nav-item ml-auto">
            <a href="/login" class="nav-link">Log In</a>
          </div>
          {{ navItem("Register", "/register", false) }}
        {% endif %}
      </div>
    </div>
  </nav>
</header>
