{
  "presets": [
    [
      "@babel/env",
      {
        "corejs": 3,

        "useBuiltIns": "usage",

        "targets": {
          "node": true
        }
      }
    ],

    "@babel/typescript",

    ["@babel/react", { "runtime": "automatic" }]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src"
        }
      }
    ],

    "transform-typescript-metadata",

    ["@babel/proposal-decorators", { "legacy": true }],

    ["@babel/proposal-class-properties", { "loose": true }],

    "@babel/proposal-object-rest-spread",

    "@babel/proposal-optional-chaining",

    "@babel/proposal-nullish-coalescing-operator",

    "macros"
  ]
}
