{% set title = "Error | Fantasky" %}

{% extends "_layout.njk" %}

{% block meta %}
  <meta http-equiv="refresh" content="3; url=/tasks">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <h1 class="display-4">Oh my!</h1>

      <p>An unexpected error has occurred.</p>

      <p>You should be redirected to the task listing in about 3 seconds. If this does not occur, click <a href="/tasks" class="text-danger">here.</a></p>
    </div>
    <div class="col"></div>
  </div>
{% endblock %}
