{% set path = "/tasks/{{ taskId }}/edit" %}
{% set title = "Edit Task | Fantasky" %}

{% extends "_layout.njk" %}

{% import "../partials/_forms.njk" as forms %}

{%
  set baseFields = [
    {
      "name": "name",
      "labelText": "Name"
    },
    {
      "name": "description",
      "labelText": "Description (optional)",
      "inputType": "textarea"
    },
    {
      "name": "startDate",
      "labelText": "Start Date",
      "inputType": "date"
    }
  ]
%}

{%
  set checkboxFields = [
    {
      "name": "sun",
      "labelText": "Sundays"
    },
    {
      "name": "mon",
      "labelText": "Mondays"
    },
    {
      "name": "tue",
      "labelText": "Tuesdays"
    },
    {
      "name": "wed",
      "labelText": "Wednesday"
    },
    {
      "name": "thu",
      "labelText": "Thursdays"
    },
    {
      "name": "fri",
      "labelText": "Fridays"
    },
    {
      "name": "sat",
      "labelText": "Saturdays"
    }
  ]
%}

{% block content %}
  <div class="row">
    <div class="col"></div>
    <div class="col-8 col-md-6 col-lg-5">

      <h1>Edit Task</h1>

      <form method="POST">
        {% for field in baseFields %}
          {{
            forms.group(
              name=field.name,
              labelText=field.labelText,
              value = values[field.name] or '',
              error = errors[field.name].msg or '',
              inputType = field.inputType or 'text'
            )
          }}
        {% endfor %}

        <div class="form-group">
          <legend>Active Days</legend>
          {% for checkboxField in checkboxFields %}
            <div class="form-check">
              {{ forms.input(checkboxField.name, value = (values[checkboxField.name] or false), type = 'checkbox', valid = true) }}
              {{ forms.label(checkboxField.name, checkboxField.labelText, forCheckbox = true)}}
            </div>
          {% endfor %}

          {% if errors.activeDays.msg %}
            <div class="invalid-feedback d-block">{{ errors.activeDays.msg }}</div>
          {% endif %}
        </div>

        <div class="btn-group mb-3">
          <button type="submit" class="btn btn-danger">Edit Task</button>
          <a href="/tasks" class="btn btn-outline-danger">Cancel</a>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
{% endblock %}
